name: openquester
description: "A new Flutter project."
publish_to: "none"
version: 0.22.0

environment:
  sdk: ">=3.9.0 <4.0.0"
  flutter: 3.38.5

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

  # Local packages
  openapi:
    path: ./packages/openapi/
  siq_file:
    path: ./packages/siq_file/
  oq_compress:
    path: ./packages/oq_compress/
  oq_editor:
    path: ./packages/oq_editor/
  oq_shared:
    path: ./packages/oq_shared/
  #

  auto_route: ^10.3.0
  envied: ^1.3.2
  package_info_plus: ^9.0.0
  flutter_native_splash: ^2.4.7
  dio: ^5.9.0
  file_picker: ^10.3.7
  injectable: ^2.7.0
  get_it: ^9.1.1
  watch_it: ^2.3.1
  shared_preferences: ^2.5.3
  freezed_annotation: ^3.1.0
  json_annotation: ^4.9.0
  universal_io: ^2.3.1
  socket_io_client: ^3.1.3
  easy_localization: ^3.0.8
  infinite_scroll_pagination: ^5.1.1
  nb_utils: ^7.1.8
  dio_cache_interceptor: ^4.0.5
  oauth2_client: ^4.2.1
  dio_cookie_manager: ^3.3.0
  path_provider: ^2.1.5
  cookie_jar: ^4.0.8
  flutter_web_auth_2: ^5.0.0-alpha.7
  universal_web: ^1.1.1+1
  cross_file: ^0.3.5+1
  squadron: ^7.4.0
  collection: ^1.19.1
  flutter_chat_core: ^2.8.0
  flutter_chat_ui: ^2.9.1
  cached_network_image: ^3.4.1
  cached_network_image_platform_interface: ^4.1.1
  fetch_client: ^1.2.0
  crypto: ^3.0.7
  flutter_svg: ^2.2.3
  mocktail: ^1.0.4
  updat: ^1.4.0
  throttling: ^2.0.1
  url_launcher: ^6.3.2
  video_player: ^2.10.1
  video_player_win: ^3.2.2
  fvp: ^0.35.1
  toastification: ^3.0.3
  dotted_border: ^3.1.0
  flutter_avif: ^3.1.0
  flutter_cache_manager: ^3.4.1
  animate_do: ^4.2.0
  talker: ^5.1.1
  talker_flutter: ^5.1.1
  talker_dio_logger: ^5.1.1
  archive: ^4.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0
  build_runner: ^2.10.4
  analyzer: ^8.4.1
  auto_route_generator: ^10.3.0
  flutter_launcher_icons: ^0.14.4
  envied_generator: ^1.3.2
  injectable_generator: ^2.9.1
  freezed: ^3.2.3
  json_serializable: ^6.11.2
  test: ^1.26.3
  flutter_gen_runner: ^5.12.0
  very_good_analysis: ^10.0.0
  squadron_builder: ^9.0.0
  inno_bundle: ^0.11.2

dependency_overrides:
  # Fixes linux build
  # Remove after [PR](https://github.com/juliansteenbakker/flutter_secure_storage/pull/923) merged
  # Issue: https://github.com/juliansteenbakker/flutter_secure_storage/issues/920
  flutter_secure_storage_linux:
    git:
      url: https://github.com/m-berto/flutter_secure_storage.git
      path: flutter_secure_storage_linux
      ref: patch-2

flutter:
  uses-material-design: true
  assets:
    - assets/localization/
    - assets/icons/

flutter_gen:
  output: lib/generated/
  integrations:
    flutter_svg: true

msix_config:
  display_name: OpenQuester
  identity_name: com.asion.openquester
  logo_path: assets/icon/icon.png
  capabilities: internetClient
  languages: en-us
  file_extension: .siq
  install_certificate: false

inno_bundle:
  id: 2c5b1f10-2d9d-11f0-947a-894be89259d5
  name: OpenQuester
  publisher: OpenQuester
  installer_icon: assets/icon/icon.ico
  url: https://openquester.app/
  updates_url: https://github.com/OpenQuester/OpenQuester/releases
  admin: false
  languages:
    - english
