name: Test

on:
  workflow_dispatch:
  workflow_call:

jobs:
  pre_job:
    runs-on: ubuntu-latest
    outputs:
      should_run_server: ${{ steps.found_paths.outputs.server == 'true' || steps.should_force.outputs.should_force == 'true' }}
      should_run_client: ${{ steps.found_paths.outputs.client == 'true' || steps.should_force.outputs.should_force == 'true' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - id: found_paths
        uses: dorny/paths-filter@v3
        with:
          filters: |
            server:
              - 'server/**'
            client:
              - 'client/**'
              - 'openapi/**'
      - name: Check if we should force jobs to run
        id: should_force
        run: echo "should_force=${{ github.event_name == 'workflow_dispatch' || github.workflow == 'Release'}}" >> "$GITHUB_OUTPUT"

  test_server:
    runs-on: ubuntu-latest
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_run_server == 'true' }}
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test_db
        ports:
          - 5432:5432
      redis:
        image: redis:7
        ports:
          - 6379:6379
    env:
      NODE_ENV: test
      SESSION_SECRET: test_secret
      REDIS_URL: redis://localhost:6379/12
      DB_HOST: localhost
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_DATABASE: test_db
    defaults:
      run:
        working-directory: ./server
    steps:
      - uses: actions/checkout@v4
      - name: Use the latest stable Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ./server/.node-version
          cache: "npm"
          cache-dependency-path: ./server/package-lock.json
      - run: npm ci
      - run: npm run lint
      - run: |
          until pg_isready -h localhost -p 5432; do sleep 1; done
      - run: |
          until docker run --rm --network host redis:7 redis-cli -h localhost -p 6379 ping; do sleep 1; done
      - run: npm run test:pipeline

  test_client:
    runs-on: ubuntu-latest
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_run_client == 'true' }}
    defaults:
      run:
        working-directory: ./client
    env:
      DONT_USE_PURO: true
    environment: "${{ github.event_name == 'workflow_call' && 'openquester (Production)' || 'openquester (Preview)' }}"
    steps:
      - uses: actions/checkout@v4
      - name: Setup Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version-file: ./client/pubspec.yaml
          cache: true
      - run: echo "${{ vars.ENV_FILE_CONTENT }}" > .env
      - run: flutter pub get
      - run: bash ./scripts/init_project.sh
      - run: ./oqhelper pre_run
      - run: dart analyze --fatal-infos lib/
      - run: ./oqhelper format_exception
      - run: ./oqhelper format --all-packages --fatal-infos --verbose --ignore-packages openapi
      - run: dart test
